@import 'tailwindcss';

@theme {
	--color-primary: #e6e6e6;
	--color-primary-foreground: #08090a;
	--color-secondary: #323237;
	--color-background: #08090a;
	--color-nav: #090909;
	--color-nav-separator: #202122;
	--color-card: #0f1011;
	--color-card-border: #202122;
	--color-muted: #6c6c6c;
	--color-success: #00994d;
	--color-destructive: #cc0000;
	--color-selection: #131618;
	--color-selection-foreground: #5b68cd;
}
