@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 296 39% 95%;
		--foreground: 296 5% 10%;
		--card: 296 39% 90%;
		--card-foreground: 296 5% 15%;
		--popover: 296 39% 95%;
		--popover-foreground: 296 95% 10%;
		--primary: 296 89% 25%;
		--primary-foreground: 0 0% 100%;
		--secondary: 296 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 258 30% 85%;
		--muted-foreground: 296 5% 40%;
		--accent: 258 30% 80%;
		--accent-foreground: 296 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 296 5% 90%;
		--border: 296 30% 62%;
		--input: 296 30% 50%;
		--ring: 296 89% 25%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 296 39% 10%;
		--foreground: 296 5% 90%;
		--card: 296 39% 10%;
		--card-foreground: 296 5% 90%;
		--popover: 296 39% 5%;
		--popover-foreground: 296 5% 90%;
		--primary: 296 89% 25%;
		--primary-foreground: 0 0% 100%;
		--secondary: 296 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 258 30% 25%;
		--muted-foreground: 296 5% 62%;
		--accent: 258 30% 25%;
		--accent-foreground: 296 5% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 296 5% 90%;
		--border: 296 30% 50%;
		--input: 296 30% 50%;
		--ring: 296 89% 25%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
